body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right top, #063136, #0e353e, #173945, #203c4b, #2a4051);
    color: #fff;
    font-family: Montserrat, Arial;
}

header,
footer {
    position: absolute;
    text-align: center;
    width: 100%;
}

header {
    top: 10px;
}

footer {
    bottom: 10px;
}

.info {
    display: none;
    position: absolute;
    top: 50px;
    z-index: 5;
    padding: .6em;
    border-radius: .3em;
    background-color: #fc3f5e;
    margin: .6em;
    animation-name: show;
    animation-duration: .8s;
}

header:hover+div {
    display: block;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}